<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.3.0" targetFramework="net45" />
  <package id="GoogleMeasurementProtocol" version="1.4.2" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="PowerArgs" version="2.8.1.0" targetFramework="net45" />
  <package id="SpotifyAPI-NET" version="2.18.0" targetFramework="net45" />
  <package id="StructureMap" version="4.6.1" targetFramework="net45" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net45" />
</packages>