name: Update Referrers List

on:
  push:
    schedule: '0 0 * * 6'
  workflow_dispatch:
  
jobs:
  update-referrers:
    runs-on: ubuntu-latest

    steps:
      # Clone the repository
      - name: Clone Referrers Branch
        uses: actions/checkout@v3
        with:
          ref: referrers

      - name: Get Referrers
        run:  |
              gh api -H "Authorization: token ${{ github.token }}" 'https://api.github.com/repos/radj307/volume-control/traffic/popular/referrers' >> '${{ github.workspace  }}/referrers'
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Commit Changes
        run:  |
              git config user.name github-actions
              git config user.email github-actions@github.com
              git add -A && git commit -m "Update Referrers List"
              git push
